.App {
  text-align: center;
  background: #BFBFBF;
  
}

html {
  background:#BFBFBF;
}

.title {
  margin-bottom: 15px;
  margin-top: 5rem;
}

.Content {
  
  

}

.searchCard{
 

}

.infoCard{
  text-align:left;
  
}

.pageRow{
  padding-top:15px;
}

.col{

}

.searchButtonCol{
  align-content: flex-start;

}
.searchTitle{
  align-items: flex-start;
}

